.home-box{
    background-color: #faf5a0;
    position: relative;
    .banner-box{
        background: url('./images/home-bg.png') center no-repeat;
        height: 1336px;
        .imgs-box{
            width: 1200px;
            margin: 0 auto;
        }
    }
    .con-box{
        margin-top: -836px;
        .title-bg{
            background: url('./images/title.png') no-repeat;
        } 
       .g1,.g3,.g4{
           background: #FFF;
       }
        .g1{
            height: 500px;
           .imgs{
               padding-top: 80px;
                font-family: SourceHanSansCN-Regular;
                font-size: 24px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #313131;
                .bt{
                    padding-top: 20px;
                    text-align: center;
                }
               .f-left{
                   float: left;
                   margin-left: 28px;
               }
               .da{
                font-size: 30px;
               }
           }
        }
        .g2{
            // background: url('./images/g2-bg.jpg') no-repeat;     
            width: 100%;
            background-color: #FFF;
            // padding-bottom: 164px;
            .qa-box, .q-con{
                width: 1040px;
                margin: 0 auto;
            }
            .qa-box{
                padding-top: 967px;
                font-family: SourceHanSansCN-Regular;
                font-size: 24px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
            }
            .red{
                color: #e60012;
            }
            .gree{
                color: #097c25;
            }
            .blue{
                color: #004986;
            }
            .q-red{
                background-color: rgba(255, 187, 155, 0.6);
            }
            .q-gree{
                background-color: rgba(182, 241, 164, 0.6);
            }
            .q-blue{
                background-color: rgba(155, 207, 251, 0.6);
            }
            .da{
                font-size: 30px;
            }
            .q-tit{
                margin-top: 58px;
            }
            .q-con{
                border-radius: 20px;
                opacity: 0.6;
                padding: 29px 36px;
            }
        }
        .g3{
            .st1{
                width: 1120px;
                height: 126px;
                margin: 89px auto 19px;
                border-radius: 20px;
                opacity: 0.8;
                font-family: SourceHanSansCN-Regular;
                .left{
                    float:left;
                }
                .con-01{
                    padding-left: 31px;
                    padding-top: 31px;
                    width: 230px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    .da{
                        line-height: 1;
                        font-size: 30px;
                    }
                    .ms{
                        font-size: 24px;
                    }
                }
                .img{
                    margin-top: 44px;
                    background: url('./images/right.png') no-repeat;
                    width: 62px;
                    height: 42px;
                }
                .tips{
                    margin-top:25px;
                    margin-left: 46px;
                    width: 725px;
                    font-size: 22px;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }
            .c-01{
                background-color: rgba(143, 195, 31, 0.8);
            }
            .c-02{
                background-color: #50c7fc;
                .tips{
                    margin-top: 0;
                    line-height: 126px;
                }
            }
            .c-03{
                .con-01{
                    padding-top: 15px;
                }
                background-color: #f98d42;
                .tips{
                    margin-top: 0;
                    line-height: 126px;
                }
            }
            .c-04{
                background-color: rgba(143, 195, 31, 0.8);
                .tips{
                    margin-top: 40px;
                }
            }
        }
        .sq-box{
            text-align: center;
            margin-top: 60px;
            padding-bottom: 52px;
        }

        .g4{
            .ms{
                font-family: SourceHanSansCN-Regular;
                text-align: center;
                padding-top: 30px;
                padding-bottom: 43px;
                font-size: 30px;
                color: #313131;
            }
            .imgs-box{
                padding: 0 80px;
                .hz-logo{
                    display: inline-block;
                    width: 180px;
                    height: 160px;
                    line-height: 160px;
                    border: solid 1px #c9c9c9;
                    vertical-align: middle;
                    text-align: center;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
                .hz-tit{
                    text-align: center;
                    line-height: 30px;
                }
                img{
                    display: inline-block;
                    width: 150px;
                }
            }
        }
    }
    .login{
        position: absolute;
        right: 0;
        top: -510px;
        width: 400px;
        height: 500px;
        background-color: #ffffff;
        .title{
            height: 80px;
            line-height: 80px;
            background-color: #8dc556;
            font-size: 30px;
	        color: #ffffff;
        }
        .form{
            font-family: SourceHanSansCN-Regular;
            font-size: 20px;
            color: #8dc556;
            padding-left: 37px;
            .ipt{
                width: 308px;
                height: 38px;
                margin: 5px 0;
            }
            .p-t25{
                padding-top: 25px;
            }
            .u-btn{
                cursor: pointer;
                margin-top: 36px;
                margin-left: 22px;
            }
            .swipe{
                display: none;
                margin-left: -37px;
                width: 400px;
                margin-top: 31px;
                height: 40px;
                line-height: 40px;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 18px;
                color: #313131;
            }
        }
    }
}