.broadcast {
    background-color: #a8a135;
    .head-bg{
        width: 1200px;
        display: block;
        margin: 0 auto;
        height: 138px;
    }
    .wl-box{
        background: #FFF;
        .pay-list{
            padding: 37px 100px;
        }
    }
    .pay-tit, .wl-box, .ifram{
        width: 1200px;
        margin: 0 auto;
    }
    .pay-tit{
        height: 49px;
        line-height: 49px;
        background-color: #fff663;
        font-family: SourceHanSansCN-Bold;
        font-size: 20px;
        color: #313131;
        text-align: center;
    }
    .pay-list{
        .pay-name{
            padding: 10px 30px;
            font-size: 18px;
            float: left;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .ckplay {
        margin: 0 auto 30px;
        width: 1200px;
        height: 400px;
        margin-top: -78px;
    }
    .ifram{
        margin-top: 22px;
        .pay-tit{
            font-family: SourceHanSansCN-Bold;
            font-size: 20px;
            color: #313131;
            background-color: #c0fb87;
            height: 49px;
            line-height: 49px;
        }
        .bf-box{
            background: #FFF;
            padding: 47px 45px;
        }
    }
}

body{
    background: #a8a135;
}